body.crabby{
	background-image: url(../img/crabcakebackground.jpg);
	font-family: 'Oxygen', sans-serif;
}

h1,h2{
	font-family: 'Spirax', cursive;
}
body.Gimbap{
	background-image: url(../img/gimbap.jpg);
	 background-image:no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.wings{
	background-image: url(../img/wings.jpg);
	 background-image:no-repeat center center fixed; 
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.home{
	background-image: url(../img/firstrecipe.jpg);
    background-image: no-repeat center center fixed;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img.imagesize{
  width: 400px; height: 300px;
}


body.injera{
    background-image: url(../img/injra.jpg);
    background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
body.eggSauce{
    background-image: url(../img/eggSauce.jpg);
    background-image:no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

body.pumpkin{
    background-image: url(../img/pumpkin1.jpg);
    background-image:no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

